<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text to Speech App</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <div class="form-container">
    <h2>🗣️ Hindi & Marathi Text to Speech</h2>
    <form method="POST">
      <textarea name="text" placeholder="Type your text here..." required></textarea><br>
      <div class="button-container">
        <select name="language" required>
          <option value="hi">Hindi</option>
          <option value="mr">Marathi</option>
        </select>
        <button type="submit">Convert</button>
      </div>
    </form>

    {% if audio_file %}
    <audio controls autoplay>
      <source src="{{ audio_file }}" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    {% endif %}
  </div>
</body>

</html>
